# shellcheck disable=SC2034,SC2148
YDF_LOAD_HOME_CONFIG=false
YDF_PACKAGE_SERVICE_DEFAULT_OS=manjaro

# YZSH
YDF_YZSH_DATA_DIR=~/.yzsh
YDF_YZSH_GEN_CONFIG_FILE=~/.yzsh-gen.env
YDF_YZSH_DATA_REPOSITORY_URL=https://github.com/yunielrc/.yzsh.git
# :YZSH

YDF_PACKAGE_SERVICE_ENVSUBST_FILE="${PWD}/tests/fixtures/.envsubst.env"
